
.show {
	visibility: visible !important;
	opacity: 1 !important;
}



/* #check-in-time,#check-out-time{
    display: flex;
}
#time-in,#time-out{
    align-self: center;
} */
form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popup {
	margin: 250px 420px 100px;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 37%;
	position: absolute;
	transition: all 5s ease-in-out;
	font-family: 'Gloria Hallelujah', cursive;
	border-style: solid;
	z-index: 2;
}

input{
	margin-bottom: 1rem;
	width: 20rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	border: none;
	box-shadow: 0 0.1rem 1.4 rem  0 rgba(86, 185, 235, 0.5);
}
.popup #close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup #close:hover {
	color: #E5F720;
}
.content{
    display: flex;
}